<html>
    <!--ich bin ein Kommentar-->
    <!---->
    <head>
        <!--Suchergebniss-->
        <title>
            N27 - Login
        </title>
    </head>
    <body>
        <!--h1 Headline der Größe 1-->
       <h1>
           Herzlich Willkommen
       </h1>
       <!-- <p> Paragraph--> 
       <p>Benuztername</p>
    
    
       <input type="text" id=placeholder="123"="s150..."name="benutzername">
       <p>Passwort</p>
    
    <!--password zeigt das Eingetragene mit sternchen an-->
       <input type="password" id="Passwort"name="Passwort">

    </body>
</html>