<html>
    <!--Ich bin ein Kommentar-->
    <!--head Suchmaschinenoptimierung -->
    <head>
        <!--Title Suchergebniss-->
        <title>
            N27 - Login
        </title>
    </head>
    <!--body ist der sichbare Inhalt-->
    <body>
        <!--h1 Headline der Größe 1-->
       <h1>
           Bitte melden sie sich hier an:
       </h1>
       <!-- <p> Paragraph--> 
       <p>Benuztername</p>
    
    <!--input erzeugt Eingabefelder, Schaltflächen, Checkboxen und Radiobuttons in einem Formular-->
       <input type="text" id=placeholder="123"="s150..."name="benutzername">
       <p>Passwort</p>
    
    <!--password zeigt das Eingetragene mit Sternchen an-->
       <input type="password" id="Passwort"name="Passwort">

    </body>
</html>