<html>
    <!--Ich bin ein Kommentar-->
    <!--head Enthält Informationen über das Dokument -->
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a65043">
        <meta name="msapplication-TileColor" content="#a65043">
        <meta name="theme-color" content="#f8f0f0">
        <!--Title Suchergebniss Aufschrift auf dem Browser-Tab-->
        <title>
            N27 - Login
        </title>
    </head>
    <!--body ist der sichbare Inhalt-->
    <body>
        <!--h1 Heading(Überschrift) erster Ordnung -->
       <h1>
           Bitte melden sie sich hier an:
       </h1>
       <!-- <p> Paragraph(Absatz)--> 
       <p>Benuztername</p>
    
    <!--input erzeugt Eingabefelder, Schaltflächen, Checkboxen und Radiobuttons in einem Formular-->
       <input type="text" id=placeholder="123"="s150..."name="benutzername">
       <p>Passwort</p>
    
    <!--password zeigt das Eingetragene mit Sternchen an-->
       <input type="password" id="Passwort"name="Passwort">

    </body>
</html>