<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Bearbeiten</title>
</head>
<body>
    <nav>
        <a href="/"><i class="fa fa-user" aria-hidden="true"></i></a>
    </nav>
    <h1>Profil Bearbeiten</h1>
    <form method="POST" action="/profilBearbeiten">          
        <label>Adresse:</label>          
        <input type="text" name="adresse">
        <label>Telefon </label>
        <input type="number" name="telefon">
        <label>Kennwort</label>          
        <input type="password" name="kennwort">          
        <button>bestätigen</button>
    </form> 
</body>
</html>